* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.headermobile{
    background-color: #163153;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4vw;
}

.headerdesktop{
    display: none;
}

section{
    background-color: #163153;
    
}

.logo {
    padding-left: 6vw;
    width: 40vw;
}

.menu{
    height: 7vw;
    padding-right: 6vw ;
}

.texto1{
  font-family: "Inter", sans-serif;
  color: #facc15;
  padding-left: 8vw;
  padding-top: 10vw;
  font-size: 15px;
}

.titulo h1 {
    font-family: "Poppins";
    font-weight: 600;
    letter-spacing: -1px;
    color: rgb(255, 255, 255);
    padding-left: 8vw;
    padding-top: 8px;
    font-size: 10.6vw;
}

.setinha{
    margin-top: -70px;
    margin-left: 260px;
} 


.email h4{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #abb2c3;
    background-color: #244166;
    font-weight: 400;
    padding: 16px 32px;
    padding-left: 7vw;
    margin-left: 6vw;
    margin-right: 18vw;
    border-radius: 60px;
}

.days h4{
    color: #ffffff;
    background-color: #1877F2;
    font-family: "Inter", sans-serif;
    border-radius: 60px;
    padding: 16px 32px;
    text-align: center;
    margin-top: 10px;
    margin-left: 6vw;
    margin-right: 40vw;
}

.pessoinhas{
    margin-top: 40.5px;
    padding-left: 7vw;
}

.num{
    font-family: "archivo";
    color: #ffffff;
    margin-top: 10px;
    margin-left: 6vw;
}

.Happy {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    color: #ABB2C3;
    margin-left: 6vw;
    font-size: 14px;
    font-weight: 500;
}

.outronum {
    font-family: "archivo";
    color: #ffffff;
    margin-top: 10px;
    margin-left: 33px;
}

.juntareview{
    display: flex;
}

.review{
    margin-top: 10px;
    margin-left: 10px;
    color: #ABB2C3;
    font-weight: 500;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.juntatudo{
    display: flex;
}

.estrela{
    margin-top: 10px;
    margin-left: 33px;
}

.estrelinhas{
    color: #ABB2C3;
    display: flex;
    margin-top: 10px;
    align-items: center;
    font-weight: 400;
    
}

.capa{
    width: 95vw;
    margin-top: 6vw;
    margin-left: 5vw;
}

.customer {
    font-family: "poppins";
    font-weight: 600;
    font-size: 36px;
    margin-top: 148px;
    margin-left: 8vw;
    letter-spacing: -1px;
    line-height: 43.2px;
}

.appplataform{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 8vw;
    margin-top: 16px;
    line-height: 7vw;
    color: #757B8A;
    padding-right: 8vw;
}

.start{
    font-family: "Inter", sans-serif;
    padding: 18px;
    font-size: 15px;
    background-color: #1877F2;
    border-radius: 10vw;
    color: #ffffff;
    text-align: center;
    margin-left: 7vw;
    margin-right: 40vw;
    margin-top: 16px;
    font-weight: 600;
}

.celulares{
    padding-top: 31px;
    width: 100vw;
}

.work{
    font-family: "Inter", sans-serif;
    font-size: 10px;
    padding-left: 6vw;
    padding-top: 75px;
    color: #1877F2;
}

.Coca{
    font-family: "Inter", sans-serif;
    padding-left: 6vw;
    padding-top: 16px;
    font-size: 7vw;
}

.Container{
    font-family: "Inter", sans-serif;
    background-color: #F9FAFF;
    margin-top: 31px;
    border-radius: 7vw;
    margin-left: 5.3vw;
    margin-right: 5.3vw;
    padding-bottom: 13.8vw;
}

.imgMouse{
    width: 12.8vw;
    height: 12.8vw;
}
.containerMouse{
    padding-top: 15vw;
    display: flex;
    margin-left: 6vw;
}

.textoMouse{
    font-size: 18px;
    padding-left: 5vw;
    letter-spacing: -1px;
}

.texoAdicionalMouse{
   color: #808D9E;
   font-size: 14px;
   font-weight: 500;
   padding-left: 5vw;
   padding-top: 3vw;
}

.linha{
    padding: 0.1vw;
    margin: 10vw 5vw;
    background-color: #E9ECF2;
}

.containergarrinha{
    display: flex;
    padding-top: 4vw;
    margin-left: 6vw;
}

.Start{
    margin-top: 26.4vw;
    font-size: 36px;
    padding-left: 5.3vw;
    margin-bottom: 3.7vw;
    letter-spacing: -1px;
    margin-right: 20vw;
}

.Nunc{
    font-family: "DM sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 6.9vw;
    letter-spacing: -0.5px;
    margin-right: 8vw;
    margin-left: 6vw;
}

.only{
    font-family: "poppins";
    font-weight: 600;
    margin-top: 11.7vw;
    margin-left: 6vw;
}

.silver{
    color: #808D9E;
    font-size: 3.7vw;
    font-weight: 400;
    line-height: 5.8vw;
    margin-left: 6vw;
    margin-top: 1vw;
}

.pricing{
    margin-top: 4.5vw;
    padding: 4vw;
    margin-left: 6vw;
    margin-right: 30vw;
    font-size: 4.2vw;
    font-weight: 800;
    border: 1px solid;
    border-radius: 21.3vw;
    text-align: center;
}
.mulhercelular{
    width: 91.2vw;
    height: 100vw;
    margin-top: 26vw;
    margin-left: 6vw;
}

.Business{
    font-size: 36px;
    font-family: "Inter", sans-serif;
    margin-left: 6vw;
    letter-spacing: -1px;
}

.messaging{
    font-family: "Inter", sans-serif;
    color: #757B8A;
    font-size: 16px;
    padding-left: 6vw;
    margin-top: 4.6vw;
    font-weight: 500;
    line-height: 6.8vw;
    margin-right: 10vw;
}

/* terminar */
.informacoes{
    display: flex;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 23px;
}

.informacoesTriggers{
    margin-left: 40px;
}

.nunsp{
    font-family: "poppins";
    font-size: 32px;
    font-weight: 600;

}

.triggers{
    font-family: "inter";
    font-size: 14px;
    font-weight: 500;
    color: #757B8A;

}

.testimonialss{
    font-family: "Inter", sans-serif;
    font-size: 10px;
    padding-left: 7vw;
    padding-top: 138px;
    color: #1877F2;
}

.cplataform{
    font-family: "Inter", sans-serif;
    font-size: 40px;
    margin-top: 16px;
    margin-left: 7vw;
}

.fundo{
    background-color: #F9FAFF;
    border-radius: 20px;
    margin-left: 6vw;
    margin-top: 40px;
    margin-right: 6vw;
    margin-bottom: -24px;
}

.junta{
    display: flex;
    padding: 40px 40px;
}
.nome{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding-left: 20px ;
    padding-bottom: 6px;
    letter-spacing: -1px;
    font-weight: 700;
}

.funcao{
    font-family: "Inter", sans-serif;
    padding-left: 20px;
    letter-spacing: -1px;
    font-size: 14px;
    font-weight: 400;
    color: #808D9E;

}

.descricaoPessoa{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 35px;
    line-height: 24px;
}

.estrelasPessoa{
    font-family: "Inter", sans-serif;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer{
    background-color: #1877F2;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    margin-top: 179px;

}

.tituloFooter{
    font-family: "poppins";
    font-weight: 600;
    font-size: 48px;
    padding-left: 39px;
    padding-right: 24px;
    padding-top: 77px;
}

.juntaloc{
    display: flex;
    margin-top: -362px;
    padding-left: 40px;
    padding-right: 16px
}

.juntaemail{
    display: flex;
    padding-top: 16px;
    padding-left: 40px;
    padding-right: 16px;
    align-items: center;
}

.loc{
    font-size: 16px;
    padding-left: 14px;
    font-weight: 300;
    line-height: 24px;
    align-items: center;
}

.linhaFooter{
    background-color:#3B8CF4;
    padding: 1px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 88px;
    margin-bottom: 42px
}

.juntaFooterTerms{
    display: flex;
    justify-content: center;
  
}

.terms{
    font-size: 16px;
    font-weight: 300;
    padding-right: 46px;
}

.privacy{
    font-size: 16px;
    font-weight: 300;
}

.rodape{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 48.5PX;
}

.c{
    padding-right: 39px;
    margin-top: 42px;
    z-index: 1;
}

@media (min-width: 1440px) {

    section{
        display: flex;
    }

    .capa{
        width: 865px;
        margin-left: -450px;
        margin-top: -2px;
    }

    .headermobile{
       display: none;
    }

    .logo{
        width: 18vw;
        padding-left: 120px;
        margin-right: 50px;
    }

    .headerdesktop{
        color: #ffffff;
        font-family: "inter";
        background-color: #163153;
        display: flex;
        justify-content: space-between;
        padding-top: 26px;
    }

    .espaco{
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 32px;
    }

    .espacolateral{
        display: flex;
        align-items: center;
        margin-right: 120px;
        gap: 32px;
    }

    .about{
        color: #FACC15;
        font-weight: 600;
        font-size: 16px;
    }

    .pages{
        font-weight: 400;
        font-size: 16px;
        color: #EDEDED;
    }

    .singin{
        font-size: 16px;
    }

    .fundoheader{
        background-color: #1877F2;
        padding: 16px 32px;
        font-weight: 500;
        border-radius: 8px;
        font-size: 16px;
    }

    .titulo h1{
        font-size: 64px;
        width: 620px;
    }

    .setinha{
        width: 95.5px;
        margin-left: 477px;
    }

    .juntadays{
        display: flex;
    }

    .email h4{
        padding: 18px;
        padding-right: 114px;
        margin-right: 10px;
        margin-left: 120px;
        margin-top: 10px;
    }

    .days h4{
        padding: 18px 32px;
        margin-left: 2px;
        font-weight: 500;
        margin-right: 440px;
    }

    .flexpessoinhas{
        display: flex;
        margin-top: 98px;
    }

    .pessoinhas{
        margin-top: 0;
    }

    .numeros{
        margin-left: -30px;
    }

    .expUser{
        display: flex;
    }

    .celulares{
        width: 630px;
        margin-right: 121px;
        margin-top: 58px;
    }

    .customer{
        font-size: 48px;
        line-height: 57.6px;
        margin-top: 160px
    }

    .appplataform{
        line-height: 25.6px;
        padding-right: 89px;
        margin-top: 32px;
    }

    .start{
        margin-top: 40px;
        margin-right: 370px;
    }

    .Container{
        display: flex;
    }

    .work{
        text-align: center;
        margin-top: 120px;
    }

    .Coca {
        text-align: center;
        font-size: 48px;
    }

    .imgMouse{
        width: 60px;
        height: 60px;
    }

    .Start{
        font-size: 46px;
    }

    .pricing{
        margin-right: 0;
        font-size: 16px;
    }
}