* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #163153;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4vw;
}

section{
    background-color: #163153;
}

.logo {
    padding-left: 6vw;
    width: 40vw;
}

.menu{
    height: 7vw;
    padding-right: 6vw ;
}

.texto1{
  font-family: "Inter", sans-serif;
  color: #facc15;
  padding-left: 8vw;
  padding-top: 10vw;
  font-size: 4vw;
}

.titulo {
    font-family: "Poppins";
    font-weight: 100;
    color: rgb(255, 255, 255);
    padding-left: 8vw;
    padding-top: 3vw;
    font-size: 7vw ;
}

.setinha{
    margin-top: -17vw;
    margin-left: 70vw;
}

.email{
    font-family: "Inter", sans-serif;
    font-size: 4vw;
    color: #abb2c3;
    background-color: #244166;
    align-items: center;
    padding: 5.5vw;
    padding-left: 7vw;
    margin-left: 6vw;
    margin-right: 18vw;
    border-radius: 10vw;
}

.days{
    color: #ffffff;
    background-color: #1877F2;
    font-family: "Inter", sans-serif;
    border-radius: 10vw;
    padding: 5vw;
    text-align: center;
    margin-top: 10px;
    margin-left: 6vw;
    margin-right: 40vw;
}

.pessoinhas{
    margin-top: 10vw;
    padding-left: 6vw;
}

.numeros {
    color: #ffffff;
    display: flex;
    margin-top: 10px;
}

.num {
    margin-left: 6vw;
}

.outronum{
    margin-left: 25vw;
}

.estrelinhas{
    color: #ffffff;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.Happy{
    margin-left: 6vw;
}

.estrela{
    margin-left: 11vw;
}

.review{
    margin-left: 3vw;
    font-size: 10px;
}

.capa{
    width: 95vw;
    margin-top: 6vw;
    margin-left: 5vw;
}

.customer{
    font-family: "Inter", sans-serif;
    font-size: 10vw;
    margin-top: 45vw;
    margin-left: 6vw;
}

.appplataform{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 6vw;
    margin-top: 5vw;
    line-height: 7vw;
    color: #757B8A;
    padding-right: 10vw;
}

.start{
    font-family: "Inter", sans-serif;
    padding: 18px;
    font-size: 15px;
    background-color: #1877F2;
    border-radius: 10vw;
    color: #ffffff;
    text-align: center;
    margin-left: 6vw;
    margin-right: 40vw;
    margin-top: 4vw;
    font-weight: 500;
}

.celulares{
    padding-top: 10vw;
    width: 102vw;
}

.work{
    font-family: "Inter", sans-serif;
    font-size: 10px;
    padding-left: 6vw;
    padding-top: 25vw;
    color: #1877F2;
}

.Coca{
    font-family: "Inter", sans-serif;
    padding-left: 6vw;
    padding-top: 5vw;
    font-size: 7vw;
}




.mulhercelular{
    width: 30vw;
}

